[submodule "Cub3D"]
	path = Cub3D
	url = git@github.com:Thawnder/Cub3D.git
	branch = main
[submodule "Libft"]
	path = Libft
	url = git@github.com:Thawnder/Libft.git
[submodule "GetNextLine"]
	path = GetNextLine
	url = git@github.com:Thawnder/GetNextLine.git
[submodule "Minishell"]
	path = Minishell
	url = git@github.com:Thawnder/Minishell.git
[submodule "Minitalk"]
	path = Minitalk
	url = git@github.com:Thawnder/Minitalk.git
[submodule "So_long"]
	path = So_long
	url = git@github.com:Thawnder/So_long.git
[submodule "Philosophers"]
	path = Philosophers
	url = git@github.com:Thawnder/Philosophers.git
[submodule "Push_Swap"]
	path = Push_Swap
	url = git@github.com:Thawnder/Push_Swap.git
[submodule "CPP_Modules"]
	path = CPP_Modules
	url = git@github.com:Thawnder/CPP_Modules.git
[submodule "IRC"]
	path = IRC
	url = git@github.com:LucasDeville/ft_irc.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Thawnder/ft_printf.git
