[submodule "Cub3D"]
	path = Cub3D
	url = git@github.com:Thawnder/Cub3D.git
[submodule "Libft"]
	path = Libft
	url = git@github.com:Thawnder/Libft.git
[submodule "GetNextLine"]
	path = GetNextLine
	url = git@github.com:Thawnder/GetNextLine.git
[submodule "Minishell"]
	path = Minishell
	url = git@github.com:Thawnder/Minishell.git
